---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="wedding portfolio"
  description="see our previous wedding projects"
>
  <main>
    <h1>weddings portfolio</h1>
  </main>
</Layout>
