---
---

<nav>
  <ul>
    <li class="navItem"><a href="/">Home</a></li>
    <li class="navItem"><a href="#services">Services</a></li>
    <li class="navItem"><a href="#cta">Contact</a></li>
  </ul>
</nav>

<style>
  nav {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 20;
    color: var(--txred);
    text-decoration: underline;
  }

  .navItem {
    margin: 0.5rem 0 0 0;
  }
</style>

<script></script>
